a
{
    background-image: none !important;   
}
#markdown-toc a
{
    background-image: linear-gradient(#44434d 0%, #44434d 100%) !important;
}
.custom_toc a
{
    background-image: linear-gradient(#44434d 0%, #44434d 100%) !important;
}
